<div class="toolbar" role="banner">
  <a routerLink="/">
    <img
      class="toolbar-logo"
      width="40"
      alt="myshop Logo"
      src="../../assets/logo.png"
  /></a>
  <nav class="menu">
    <a routerLink="/" class="button menu-item"> MyShop</a>
    <a routerLink="/cart" class="button menu-item"> Cart</a>
    <a routerLink="/profile" class="button menu-item"> Profile</a>
  </nav>
  <div class="spacer"></div>
  <div routerLink="/cart" class="toolbar-cart-preview">
    <img src="../../assets/cart.png" class="toolbar-cart-preview-icon" />
    <span class="toolbar-cart-number">{{ currentCart.length }}</span>
  </div>
</div>
