.group:before,
.shopping-cart:before,
.column-labels:before,
.product:before,
.totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: "";
  display: table;
}

.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  clear: both;
}

.group,
.shopping-cart,
.column-labels,
.product,
.totals-item {
  zoom: 1;
}

.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
  content: "$";
}

.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.product .product-quantity input {
  width: 40px;
}
.product .remove-product {
  border: 0;
  padding: 6px 10px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #a44;
  cursor: pointer;
}
.product-image {
  float: left;
  width: 20%;
}
.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

.product-quantity {
  float: left;
  width: 10%;
  display: flex;
  align-items: baseline;
}
.product-quantity-remove {
  background-color: lightslategrey;
  padding: 3px 10px;
  border-radius: 10px;
  margin-right: 7px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.product-quantity-add {
  background-color: lightslategrey;
  padding: 3px 10px;
  border-radius: 10px;
  margin-left: 7px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
